html, body {
 height: 100%;
 background-color: #f3eddc;
 font-family: Arial, sans-serif;
 margin: 1px;
}
p {
 display: inline-block;
 margin-left: 5px;
 margin-right: 5px;
}
a {
 display: inline-block;
 margin-left: 5px;
 color: rgb(0, 0, 0);
}
h1 {
 display: block;
 margin-top: 25px;
 margin-bottom: 10px;
}
h2 {
 display: block;
 margin-bottom: 15px;
}
h3 {
 display: block;
 margin-top: 25px;
 margin-bottom: -5px;
}
sup {
 font-size: 75%;
 color: purple;
}
button {
 display: block;
}
.source-list {
 font-size: 75%;
 display: block;
 text-align: left;
 margin-top: 10px;
 margin-bottom: 20px;
 border-top-color: black;
 border-top-style: solid;
 border-top-width: 1px;
 display: grid;
 text-align: left;
 width: 1100px;
 grid-auto-flow: column;
 grid-template-rows: 40px 40px;
}
.side-bar {
 background-color: #e7dcbf;
 position: fixed;
 width: 136px;
 height: 100%;
 margin: 0px;
 top: 0px;
 left: 0px;
 display: flex;
 flex-direction: column;
 align-items: center;
 border-right-color: black;
 border-right-width: 1px;
 border-right-style: solid;
}
.logo {
 width: 116px;
 margin: 5px;
 margin-top: 10px;
}
.navigation-title {
 margin-bottom: 5px;
 margin-left: 0px;
 display: block;
 font-size: small;
 text-align: center;
}
.navigation-items {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.home {
 background-color: #b4202a;
 color: white;
 margin: 5px;
 width: 96px;
}
.launch {
 background-color: #b4202a;
 color: white;
 margin: 5px;
 width: 96px;
}
.payload {
 background-color: #b4202a;
 color: white;
 margin: 5px;
 width: 96px;
}
.gallery {
  background-color: #b4202a;
  color: white;
  margin: 5px;
  width: 96px;
 }
.social-title {
 margin-bottom: 5px;
 margin-left: 0px;
 display: block;
 font-size: small;
 text-align: center;
}
.social-items {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.tweet {
 background-color: black;
 color: white;
 margin: 5px;
 width: 96px;
}
.bsky {
  background-color: darkcyan;
  color: white;
  margin: 5px;
  width: 96px;
 }
.year-actual{
 display: inline;
 position: absolute;
 font-size: 75%;
 margin: 10px;
 bottom: 0;
 left: 0;
 right: 0;
 top: 1;
}
.year-sidebar{
 display: inline-block;
 position: relative;
 text-align: center;
 height: 40px;
 width: 80px;
 bottom: -65%;
}
.figure {
 border-width: 2px;
 border-style: solid;
 border-color: #b4202a;
 display: inline-block;
}
.note {
 font-size: 90%;
}